:root {
  // * COLORS *
  --white: #fcfcfc;
  --black: #000000;
  --grey: #ababab;
  --accent: #f8d24e;
  --accent--active: #0a8817;

  // text
  --text-color--dark: #131313;
  --text-color--bright: #fcfcfc;
  --text-color--accent: #f8d24e;
  --secondary-text-color: #ababab;

  --text-color--address: #d6936d;

  // background
  --bg-color--olive: #84a178;
  --bg-color--bright: #fcfcfc;

  --bg-color--tablet-menu: #97af8d;
  --bg-color--backdrop: rgba(0, 0, 0, 0.2);

  // icon
  --icon-color: #afb1b8;

  // * BREAKPOINTS *
  --bp-mobile: 480px;
  --bp-tablet: 768px;
  --bp-desktop: 1200px;

  // * TRANSITIONS *
  //duration and function
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// * FONT-FAMILIES *
// ? font-family: 'Montserrat', sans-serif;
// ? font-family: 'Roboto', sans-serif;
// ? font-family: 'Seymour One', sans-serif;
