<section class="about__section section">
    <div class="section__container">
        <p class="about__suptitle">Tradition and love</p>
        <h2 class="about__title">how it's made?</h2>

        <div class="about__container">
            <div class="about-left-side">
                <picture>

                    <!-- Desktop -->

                    <source srcset="/src/images/about/cow-desktop.webp 1x, /src/images/about/cow-desktop@2x.webp 2x"
                        media="(min-width: 1200px)" type="image/webp">

                    <source srcset="/src/images/about/cow-desktop.png 1x, /src/images/about/cow-desktop@2x.png 2x"
                        media="(min-width: 1200px)">


                    <!-- Tablet -->

                    <source srcset="/src/images/about/cow-tablet.webp 1x, /src/images/about/cow-tablet@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">

                    <source srcset="/src/images/about/cow-tablet.png 1x, /src/images/about/cow-tablet@2x.png 2x"
                        media="(min-width: 768px)">


                    <!-- Mobile -->

                    <source srcset="/src/images/about/cow-mob.webp 1x, /src/images/about/cow-mob@2x.webp 2x"
                        media="(min-width: 320px)" type="image/webp">

                    <source srcset="/src/images/about/cow-mob.png 1x, /src/images/about/cow-mob@2x.png 2x"
                        media="(min-width: 320px)">


                    <img src="/src/images/about/cow-mob.png" alt="cow" class="about__pic">
                </picture>
            </div>

            <div class="about-right-side">
                <div class="about__text">
                    <p class='about__paragraph'>Ice is a place where you will become not only a little happier, but also
                        healthier. Health
                        is the main value
                        for us, and
                        we follow it when creating our handmade desserts.</p>
                    <p class='about__paragraph'>We use traditional recipes and 100% natural ingredients. Our products
                        are so
                        natural that
                        they can be given
                        to children
                        from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee
                        and
                        23
                        milkshakes.
                    </p>
                </div>

                <button type="button">Read more</button>

            </div>

        </div>

        <ul class="features-list list">
            <li class="features__item">
                <!-- <svg class="features__icon">
                    <use></use>
                </svg> -->
                <h3 class="features__title">721</h3>
                <p class="features__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="features__item">
                <!-- <svg class="features__icon">
                    <use></use>
                </svg> -->
                <h3 class="features__title">16 kg</h3>
                <p class="features__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="features__item">
                <!-- <svg class="features__icon">
                    <use></use>
                </svg> -->
                <h3 class="features__title">84</h3>
                <p class="features__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>

    </div>
</section>