<section class="about section">
    <div class="section__container">
        <p class="about__suptitle">Tradition and love</p>
        <h2 class="about__title">how it's made?</h2>
        <picture>

            <!-- Desktop -->

            <source srcset="" media="(min-width: 1200px)">


            <img src="./images/about/cow-mob.jpg" alt="cow">
        </picture>


        <p class='about__description'>Ice is a place where you will become not only a little happier, but also
            healthier. Health
            is the main value
            for us, and
            we follow it when creating our handmade desserts.</p>
        <p class='about__description'>We use traditional recipes and 100% natural ingredients. Our products are so
            natural that
            they can be given
            to children
            from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23
            milkshakes.
        </p>

        <button>Read more</button>

        <ul class="features-list list">
            <li class="features__item">
                <svg class="features__icon">
                    <use></use>
                </svg>
                <h3>721</h3>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="features__item">
                <svg class="features__icon">
                    <use>16 kg</use>
                </svg>
                <h3>84</h3>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="features__item">
                <svg class="features__icon">
                    <use></use>
                </svg>
                <h3>84</h3>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>





    </div>
</section>