<footer class="basement">
  <div class="container">
    <div class="basement-top">
      <p class="footer-title">
        homemade ice cream made
        <span class="footer-title_big">with passion</span>
      </p>
      <div class="social">
        <ul class="social-list">
          <li class="social-list__item">
            <a
              href="https://github.com/"
              target="_blank"
              class="social-list__link"
            >
              <svg class="social-list__icons" width>
                <use href="./images/symbol.svg#icon-git"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a
              href="https://web.telegram.org/?legacy=1#/login"
              target="_blank"
              class="social-list__link"
            >
              <svg class="social-list__icons">
                <use href="./images/symbol.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a
              href="https://www.facebook.com/"
              target="_blank"
              class="social-list__link"
            >
              <svg class="social-list__icons">
                <use href="./images/symbol.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="basement-paragraph">
          Feel free to contact
          <a class="basement-contact" href="tel:+610383766284"
            >+61 (0) 383 766 284</a
          >
        </p>
      </div>
    </div>
    <div class="basement-copyright">
      <h2 class="basement-title">© 2022 - IceCream. All Rights Reserved.</h2>
    </div>
  </div>
</footer>
