<section class="section section__gallery">
  <div class="section__container">
    <h2 class="visually-hidden">Our gallery</h2>
    <div class="wrapper">
      <div class="slider">
        <div class="slider__item">
          <picture>
            <!-- Desktop -->

            <source
              srcset="
                /src/images/gallery/gallery-1-desktop.jpg    1x,
                /src/images/gallery/gallery-1-desktop@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <!-- Tablet -->
            <source
              srcset="
                /src/images/gallery/gallery-1-tablet.jpg    1x,
                /src/images/gallery/gallery-1-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <!-- Mobile -->
            <source
              srcset="
                /src/images/gallery/gallery-1.jpg    1x,
                /src/images/gallery/gallery-1@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />

            <img
              src="/src/images/gallery/gallery-1.jpg"
              alt="gallery element"
              class="slider-image"
            />
          </picture>
        </div>
        <div class="slider__item">
          <picture>
            <!-- Desktop -->

            <source
              srcset="
                /src/images/gallery/gallery-2-desktop.jpg    1x,
                /src/images/gallery/gallery-2-desktop@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <!-- Tablet -->
            <source
              srcset="
                /src/images/gallery/gallery-1-tablet.jpg    1x,
                /src/images/gallery/gallery-1-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <!-- Mobile -->
            <source
              srcset="
                /src/images/gallery/gallery-1.jpg    1x,
                /src/images/gallery/gallery-1@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />

            <img
              src="/src/images/gallery/gallery-1.jpg"
              alt="gallery element"
              class="slider-image"
            />
          </picture>
        </div>
        <div class="slider__item">
          <picture>
            <!-- Desktop -->

            <source
              srcset="
                /src/images/gallery/gallery-3-desktop.jpg    1x,
                /src/images/gallery/gallery-3-desktop@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <!-- Tablet -->
            <source
              srcset="
                /src/images/gallery/gallery-1-tablet.jpg    1x,
                /src/images/gallery/gallery-1-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <!-- Mobile -->
            <source
              srcset="
                /src/images/gallery/gallery-1.jpg    1x,
                /src/images/gallery/gallery-1@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />

            <img
              src="/src/images/gallery/gallery-1.jpg"
              alt="gallery element"
              class="slider-image"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
