<section class="section section__gallery">
  <div class="container">
    <h2 class="visually-hidden">Our gallery</h2>

    <div class="wrapper">
      <div class="owl-carousel">
        <div class="item">
          <picture>
            <!-- Desktop -->

            <source
              srcset="
                ./images/gallery/gallery01.webp    1x,
                ./images/gallery/gallery01@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              srcset="
                ./images/gallery/gallery01.jpeg    1x,
                ./images/gallery/gallery01@2x.jpeg 2x
              "
            />

            <img
              src="./images/gallery/gallery01.jpeg"
              alt="gallery element"
              class="slider-image"
            />
          </picture>
        </div>
        <div class="item">
          <picture>
            <!-- Desktop -->

            <source
              srcset="
                ./images/gallery/gallery02.webp    1x,
                ./images/gallery/gallery02@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              srcset="
                ./images/gallery/gallery02.jpeg    1x,
                ./images/gallery/gallery02@2x.jpeg 2x
              "
            />

            <img
              src="./images/gallery/gallery02.jpeg"
              alt="gallery element"
              class="slider-image"
            />
          </picture>
        </div>
        <div class="item">
          <picture>
            <!-- Desktop -->

            <source
              srcset="
                ./images/gallery/gallery03.webp    1x,
                ./images/gallery/gallery03@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              srcset="
                ./images/gallery/gallery03.jpeg    1x,
                ./images/gallery/gallery03@2x.jpeg 2x
              "
            />

            <img
              src="./images/gallery/gallery03.jpeg"
              alt="gallery element"
              class="slider-image"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
