<header class="header">
    <div class="container header__container">

        <picture>
            <source srcset="
                        images/header/desc.png 60w,
                        images/header/desc2x.png 120w" media="(min-width: 1200px)" sizes="(min-width: 1200px) 60px">

            <source srcset="
                        images/header/tab.png    48w,
                        images/header/tab@2x.png 96w" media="(min-width: 768px)" sizes="(min-width: 768px) 48px">

            <source srcset="
                        images/header/mob.png 40w, 
                        images/header/mob2x.png 80w" media="(max-width: 767px)" sizes="(max-width: 767px) 40px">

            <img src="images/header/mob.png" alt="logo">
        </picture>


        <nav class="navigation">
            <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
                <svg class="menu-toggle__button" width="32" height="32">
                    <use href="./images/symbol.svg#icon-burger"></use>
                </svg>
            </button>

            <ul class="site-nav">
                <li class="site-nav__item">
                    <a href="index.html" class="site-nav__link ">Home</a>
                </li>
                <li class="site-nav__item">
                    <a href="" class="site-nav__link">How it’s made?</a>
                </li>
                <li class="site-nav__item">
                    <a href="#" class="site-nav__link">Our products</a>
                </li>
                <li class="site-nav__item">
                    <a href="#" class="site-nav__link">Contact</a>
                </li>

            </ul>
        </nav>
        <button type="button" class="button header-modal__button modal__button" data-modal-open>
            Buy now
            <svg class="modal-butto__svg" width="10" height="10" >
                <use href="./images/symbol.svg#icon-header-arrow"></use>
            </svg>

        </button>

    </div>
</header>


<div class="menu-container js-menu-container" id="mobile-menu">
    <picture class="menu-container__logo">
        <source srcset="
                    images/header/tab.png    48w,
                    images/header/tab@2x.png 96w
                    " media="(min-width: 768px)" sizes="(min-width: 768px) 48px">

        <source srcset="
                    images/header/mob.png 40w, 
                    images/header/mob2x.png 80w" media="(max-width: 767px)" sizes="(max-width: 767px) 40px">

        <img src="images/header/mob.png" alt="logo">

    </picture>



    <button class="menu-toggle js-close-menu">
        <svg class="menu-toggle__button" width="32" height="32">
            <use href="./images/symbol.svg#icon-close-btn">

            </use>
        </svg>
    </button>

    <div class="flex-container">
        <ul class="mobile-menu">
            <li class="mobile-menu__item">
                <a href="./index.html" class="mobile-menu__link ">Home</a>
            </li>
            <li class="mobile-menu__item">
                <a href="." class="mobile-menu__link">How it’s made?</a>
            </li>
            <li class="mobile-menu__item">
                <a href="" class="mobile-menu__link">Our products</a>
            </li>
            <li class="mobile-menu__item">
                <a href="" class="mobile-menu__link">Contact</a>
            </li>
        </ul>


        <button type="button" class="button mobile-menu__button" data-modal-open>
            Buy now 
            <svg class="mobile-menu__svg" width="10" height="10">
                <use href="./images/symbol.svg#icon-header-arrow"></use>
            </svg>
        </button>


    </div>
</div>