<section class="hero">
  <div class="section__container">
    <h1 class="hero__title">
      ice cream made with
      <span class="hero__title hero__title--big">passion</span>
    </h1>
    <ul class="hero__points-of-sale">
      <li class="hero__point">
        <span class="hero__number">16</span>
        <span class="hero__number">cafes</span>
      </li>
      <li class="hero__point">
        <span class="hero__number">23</span>
        <span class="hero__number">food trucks</span>
      </li>
    </ul>
    <ul class="hero__buttons-list">
      <li><a href="#products" class="button-anchor">Products</a></li>
      <li><a href="#about" class="button-anchor">How it’s made?</a></li>
    </ul>
    <svg class="hero__dots-left-mobile">
      <use href="./images/hero/symbol.svg.svg#icon-left-dots-mobile"></use>
    </svg>
    <svg class="hero__dots-right-mobile">
      <use href="./images/hero/symbol.svg.svg#icon-right-dots-mobile"></use>
    </svg>
    <svg class="hero__dots-left-tablet">
      <use href="./images/hero/symbol.svg.svg#icon-left-dots-tablet"></use>
    </svg>
    <svg class="hero__dots-right-tablet">
      <use href="./images/hero/symbol.svg.svg#icon-right-dots-tablet"></use>
    </svg>
    <a class="hero__link" href="/">
      <div class="hero__text-wrapper">
        <picture class="hero__plate">
          <source
            srcset="
              ./images/hero/plate-tablet.png    1x,
              ./images/hero/plate-tablet@2x.png 2x
            "
            media="(max-width: 1199px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/hero/plate-desktop.png    1x,
              ./images/hero/plate-desktop@2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <img src="./images/hero/plate-desktop.png" alt="Plate" />
        </picture>
        <div>
          <p class="hero__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <svg class="arrow">
            <use
              class="arrow-default"
              href="./images/hero/symbol.svg.svg#icon-arrow-default"
            ></use>
            <use
              class="arrow-hover"
              href="./images/hero/symbol.svg.svg#icon-arrow-hover"
            ></use>
            <use
              class="arrow-focus"
              href="./images/hero/symbol.svg.svg#icon-arrow-focus"
            ></use>
          </svg>
        </div>
      </div>
    </a>

    <div class="icecream-wrapper">
      <picture class="hero__icecream-background">
        <source
          srcset="
            ./images/hero/icecream-mobile-bcg.png    1x,
            ./images/hero/icecream-mobile-bcg@2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/hero/icecream-tablet-bcg.png    1x,
            ./images/hero/icecream-tablet-bcg@2x.png 2x
          "
          media="(max-width: 1199px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/hero/icecream-desktop-bcg.png    1x,
            ./images/hero/icecream-desktop-bcg@2x.png 2x
          "
          media="(min-width: 1200px)"
          type="image/png"
        />
        <img
          src="./images/hero/icecream-mobile-bcg.png"
          alt="Icecream background"
        />
      </picture>
      <picture class="hero__icecream">
        <source
          srcset="
            ./images/hero/icecream-mobile.png    1x,
            ./images/hero/icecream-mobile@2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/hero/icecream-tablet.png    1x,
            ./images/hero/icecream-tablet@2x.png 2x
          "
          media="(max-width: 1199px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/hero/icecream-desktop.png    1x,
            ./images/hero/icecream-desktop@2x.png 2x
          "
          media="(min-width: 1200px)"
          type="image/png"
        />
        <img src="./images/hero/icecream-mobile.png" alt="Icecream" />
      </picture>
      <picture class="icecream__face">
        <source
          srcset="
            ./images/hero/icecream-mobile-face.png    1x,
            ./images/hero/icecream-mobile-face@2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/hero/icecream-tablet-face.png    1x,
            ./images/hero/icecream-tablet-face@2x.png 2x
          "
          media="(max-width: 1199px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/hero/icecream-desktop-face.png    1x,
            ./images/hero/icecream-desktop-face@2x.png 2x
          "
          media="(min-width: 1200px)"
          type="image/png"
        />
        <img
          src="./images/hero/icecream-mobile-face@2x.png"
          alt="Icecream face"
        />
      </picture>
    </div>
  </div>
</section>
