<section class="section products" id="products">
  <div class="section__container">
    <p class="products__suptitle">100% natural</p>
    <h2 class="section__title">Products</h2>

    <ul class="products__list">
      <li class="products__item">
        <h3 class="products__title">ice cream</h3>
        <p class="products__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button class="products__btn btn" type="button" data-modal-open>
          <svg class="arrow">
            <use
              class="arrow-default"
              href="./images/products/sprite.svg#icon-arrow-default"
            ></use>
            <use
              class="arrow-hover"
              href="./images/products/sprite.svg#icon-arrow-hover"
            ></use>
            <use
              class="arrow-focus"
              href="./images/products/sprite.svg#icon-arrow-focus"
            ></use>
          </svg>
        </button>
      </li>

      <li class="products__item">
        <h3 class="products__title">ice coffee</h3>
        <p class="products__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button class="products__btn btn" type="button" data-modal-open>
          <svg class="arrow" aria-label="arrow">
            <use
              class="arrow-default"
              href="./images/products/sprite.svg#icon-arrow-default"
            ></use>
            <use
              class="arrow-hover"
              href="./images/products/sprite.svg#icon-arrow-hover"
            ></use>
            <use
              class="arrow-focus"
              href="./images/products/sprite.svg#icon-arrow-focus"
            ></use>
          </svg>
        </button>
      </li>

      <li class="products__item">
        <h3 class="products__title">milkshakes</h3>
        <p class="products__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button class="products__btn btn" type="button" data-modal-open>
          <svg class="arrow">
            <use
              class="arrow-default"
              href="./images/products/sprite.svg#icon-arrow-default"
            ></use>
            <use
              class="arrow-hover"
              href="./images/products/sprite.svg#icon-arrow-hover"
            ></use>
            <use
              class="arrow-focus"
              href="./images/products/sprite.svg#icon-arrow-focus"
            ></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>

<!-- Modal ingredients -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal ingredients">
    <button class="ingredients__btn-close btn" type="button" data-modal-close>
      <svg class="ingredients__icon-close" width="20" height="20">
        <use href="./images/products/sprite.svg#icon-ingredients-close"></use>
      </svg>
    </button>

    <h2 class="ingredients__title">Chololate icecream</h2>
    <ul class="ingredients__list">
      <li class="ingredients__item">
        <p class="ingredients__value">320</p>
        <p class="ingredients__text">kcal</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__value">4g</p>
        <p class="ingredients__text">Prote...</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__value">8,2g</p>
        <p class="ingredients__text">Fats</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__value">40,4g</p>
        <p class="ingredients__text">Carbs</p>
      </li>
    </ul>

    <table class="ingredients__table">
      <caption class="ingredients__table-caption">
        Ingredients
      </caption>
      <tr class="ingredients__table-row">
        <td class="ingredients__table-name">Milk</td>
        <td class="ingredients__table-value">100ml</td>
      </tr>
      <tr class="ingredients__table-row">
        <td class="ingredients__table-name">Belgian chocolate</td>
        <td class="ingredients__table-value">20g</td>
      </tr>
      <tr class="ingredients__table-row">
        <td class="ingredients__table-name">Cream</td>
        <td class="ingredients__table-value">150ml</td>
      </tr>
      <tr class="ingredients__table-row">
        <td class="ingredients__table-name">Cocoa powder</td>
        <td class="ingredients__table-value">30g</td>
      </tr>
      <tr class="ingredients__table-row">
        <td class="ingredients__table-name">Sugar</td>
        <td class="ingredients__table-value">40g</td>
      </tr>
      <tr class="ingredients__table-row">
        <td class="ingredients__table-name">Vanilla sugar</td>
        <td class="ingredients__table-value">10g</td>
      </tr>
    </table>

    <form class="ingredients-form">
      <label class="ingredients-form__label">
        <input
          class="ingredients-form__input"
          type="text"
          name="user_name"
          placeholder="Name"
      /></label>
      <label class="ingredients-form__label">
        <input
          class="ingredients-form__input"
          type="text"
          name="user_phone"
          placeholder="Phone"
      /></label>
      <label class="ingredients-form__label">
        <textarea
          class="ingredients-form__input ingredients-form__comment"
          type="text"
          name="user_comment"
          placeholder="Comment"
        ></textarea>
      </label>

      <button class="ingredients__btn button" type="submit">Submit</button>
    </form>
  </div>
</div>
