<section class="section products" id="products">
  <div class="section__container">
    <p class="products__suptitle">100% natural</p>
    <h2 class="section__title">Products</h2>

    <ul class="products__list">
      <li class="products__item">
        <h3 class="products__title">ice cream</h3>
        <p class="products__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button class="products__btn" type="button">
          <svg class="arrow">
            <use
              class="arrow-default"
              href="./images/products/sprite.svg#icon-arrow-default"
            ></use>
            <use
              class="arrow-hover"
              href="./images/products/sprite.svg#icon-arrow-hover"
            ></use>
            <use
              class="arrow-focus"
              href="./images/products/sprite.svg#icon-arrow-focus"
            ></use>
          </svg>
        </button>
      </li>

      <li class="products__item">
        <h3 class="products__title">ice coffee</h3>
        <p class="products__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button class="products__btn" type="button">
          <svg class="arrow">
            <use
              class="arrow-default"
              href="./images/products/sprite.svg#icon-arrow-default"
            ></use>
            <use
              class="arrow-hover"
              href="./images/products/sprite.svg#icon-arrow-hover"
            ></use>
            <use
              class="arrow-focus"
              href="./images/products/sprite.svg#icon-arrow-focus"
            ></use>
          </svg>
        </button>
      </li>

      <li class="products__item">
        <h3 class="products__title">milkshakes</h3>
        <p class="products__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button class="products__btn" type="button">
          <svg class="arrow">
            <use
              class="arrow-default"
              href="./images/products/sprite.svg#icon-arrow-default"
            ></use>
            <use
              class="arrow-hover"
              href="./images/products/sprite.svg#icon-arrow-hover"
            ></use>
            <use
              class="arrow-focus"
              href="./images/products/sprite.svg#icon-arrow-focus"
            ></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
