<section class="reviews-section">
  <div class="container">
    <h2 class="visually-hidden">Reviews</h2>

    <div class="owl-carousel owl-theme">
      <div class="item">
        <div class="avatar">
          <picture>
            <source
              srcset="
                ./images/reviews/review-emily.webp    1x,
                ./images/reviews/review-emily@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              srcset="
                ./images/reviews/review-emily.jpg    1x,
                ./images/reviews/review-emily@2x.jpg 2x
              "
            />

            <img
              src="./images/reviews/review-emily.jpg"
              alt="Emily"
              class="testimonials__images"
            />
          </picture>
        </div>
        <div class="testimonials-text">
          <p class="testimonials-text-styled">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
        </div>
        <p class="testimonials-text-author">Emily, Los Angeles</p>
      </div>

      <div class="item">
        <div class="avatar">
          <picture>
            <source
              srcset="
                ./images/reviews/review-bryan.webp    1x,
                ./images/reviews/review-bryan@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              srcset="
                ./images/reviews/review-bryan.jpg,
                ./images/reviews/review-bryan@2x.jpg
              "
            />

            <img
              src="./images/reviews/review-bryan.jpg"
              alt="Bryan"
              class="testimonials__images"
            />
          </picture>
        </div>
        <div class="testimonials-text">
          <p class="testimonials-text-styled">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </p>
        </div>
        <p class="testimonials-text-author">Bryan, New-York</p>
      </div>

      <div class="item">
        <div class="avatar">
          <picture>
            <source
              srcset="
                ./images/reviews/review-diana.webp    1x,
                ./images/reviews/review-diana@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              srcset="
                ./images/reviews/review-diana.jpg    1x,
                ./images/reviews/review-diana@2x.jpg 2x
              "
            />

            <img
              src="./images/reviews/review-diana.jpg"
              alt="Diana"
              class="testimonials__images"
            />
          </picture>
        </div>
        <div class="testimonials-text">
          <p class="testimonials-text-styled">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </p>
        </div>
        <p class="testimonials-text-author">Diana, Chicago</p>
      </div>
    </div>
  </div>
</section>
