<div class="section__container owl-carousel owl-theme">
  <div class="item testimonials">
    <picture>
      <source srcset="./images/reviews/review-emily.webp" type="image/webp" />

      <img
        srcset="./images/reviews/review-emily.jpg
      ./images/reviews/review-emily@2x.jpg "
        alt="Emily"
        class="testimonials__images"
      />
    </picture>
    <div class="testimonials-text">
      <p class="testimonials-text-styled">
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
      </p>
    </div>
    <p class="testimonials-text-author">Emily, Los Angeles</p>
  </div>
  <div class="item"></div>
  <div class="item"></div>
</div>
