.combo {
  background-color: var(--bg-color--bright);
  background-image: url('../images/products/bg-products.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
