.backdrop-modal {
  position: absolute;
  width: calc(100% - 40px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 28px;
  z-index: 1000;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid var(--accent);
}

.backdrop-modal__btn {
  position: absolute;
  z-index: 10000;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  border: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
  width: auto;
}

.modal-form__header {
  font-family: 'Seymour One', sans-serif;
  @include font(16, 400, 24);
  margin: 0 auto;
  text-align: center;
  color: var(--text-color--dark);
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    @include font(20, 400, 28);
    margin-bottom: 32px;
  }
}

.modal-form__text {
  font-family: 'Montserrat', sans-serif;
  @include font(14, 400, 20);
  color: var(--text-color--dark);
  margin-bottom: 28px;

  @media screen and (min-width: 768px) {
    @include font(16, 400, 22);
  }
}

@media screen and (min-width: 480px) {
  .backdrop-modal {
    width: 440px;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop-modal {
    width: 568px;
    padding: 32px 60px;
  }
}

.backdrop-modal__close {
  width: 16px;
  height: 16px;

  @media screen and (min-width: 768px) {
    width: 20px;
    height: 20px;
  }
}
