.backdrop-modal{
    position: absolute;
    width: calc(100% - 40px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--add-color-2);
    padding: 28px 30px;
    z-index: 1000;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #F8D24E;
}

.modal-form{
display: flex;
flex-direction: column;
width: auto;
}
.backdrop-modal__btn {
position: absolute;
z-index: 10000;
top: 8px;
right: 8px;
display: flex;
justify-content: center;
align-items: center;
width: 30px;
height: 30px;
padding: 0;
background-color: transparent;
border-radius: 50%;
border: none;
}

.modal-form__header{
font-family: 'Seymour One', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
margin: 0 auto;
text-align: center;
color: #131313;
margin-bottom: 20px;
}
.modal-form__text{
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.43;
color: #131313;
margin-bottom: 24px;
}
.modal-form__field{
width: 100%;
}
.modal-form__input{
display: block;
width: 100%;
height: 32px;
border: 1px solid #84A178;
border-radius: 10px;
padding-left: 12px;
background-color:rgba(248, 210, 78, 0.1);
margin-bottom: 12px;
&::placeholder{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.41;
    color: #131313;
    }
}

.modal-form__message{
display: block;
width: 100%;
resize: none;
height: 64px;
border: 1px solid #84A178;
border-radius: 10px;
padding-left: 12px;
padding-top: 8px;
background-color:rgba(248, 210, 78, 0.1);
margin-bottom: 24px;
&::placeholder {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.41;
    color: #131313;
    }
}

.modal-form-submit{
font-family: 'Montserrat', sans-serif;
padding: 12px 34px;
border: none;
background-color: #F8D24E;
border-radius: 10px;
font-weight: 600;
font-size: 12px;
line-height: 1.25;
width: 114px;
margin: 0 auto;
color: #131313;
}

@media screen and (min-width: 480px)  {
.backdrop-modal{
    width: 440px;
    
}
}
@media screen and (min-width: 1200px) {
.backdrop-modal {
    width: 568px;
    padding: 32px 60px;
}
.modal-form__wrapper{
    margin: 0 auto;
}
.modal-form__header {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 24px;
    width: 322px;
}
.modal-form__text {
    font-size: 16px;
    line-height: 1.38;
    color: #131313;
    margin: 0 auto;
    margin-bottom: 32px;
    width: 448px;
}
.backdrop-modal__close{
    width: 20px;
    height: 20px;
}
.modal-form__input {
    width: 368px;
    height: 42px;
    padding-left: 16px;
    margin-bottom: 16px;
    &::placeholder {
        font-size: 14px;
        line-height: 1.43;
    }
}


.modal-form__message {
    display: block;
    width: 100%;
    resize: none;
    height: 84px;
    border: 1px solid #84A178;
    border-radius: 10px;
    padding-left: 16px;
    padding-top: 11px;
    background-color: rgba(248, 210, 78, 0.1);
    margin-bottom: 32px;
    &::placeholder {
        font-size: 14px;
        line-height: 1.43;
    }
}

.modal-form-submit {
    width: 121px;
    padding: 12px 34px;
    font-size: 14px;
    line-height: 1.21;
}
.backdrop-modal__btn {
    top: 20px;
    right: 20px;
}

}