.section__gallery {
  background: linear-gradient(
    180deg,
    rgba(132, 161, 120, 1) 20%,
    rgba(255, 255, 255, 0) 20%
  );

  @media (min-width: 768px) and (max-width: 1199px) {
    background: linear-gradient(
      180deg,
      rgba(132, 161, 120, 1) 50%,
      rgba(255, 255, 255, 0) 50%
    );
  }
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.slider__item {
  display: block;
  margin: 0 15px;
}
.slider .slick-arrow {
  position: absolute;
  display: none;
  cursor: pointer;
  font-size: 0;
  border: none;
  background-color: transparent;
  color: #330867;
  background-color: transparent;
  padding: 3px 10px;
  bottom: 50%;
}
// .slider .slick-arrow.slick-prev {
//   display: none;
// }
// .slider .slick-arrow.slick-next {
//   display: none;
// }
.slider-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 279px;
  height: auto;
  border-radius: 7.4px;

  @media (min-width: 768px) {
    border-radius: 18px;
    width: 704px;
    height: auto;
  }
  @media (min-width: 1200px) {
    border-radius: 24px;
  }
}
