// ___________header


.menu-toggle__button{
    fill: var(--white);
}
.header {
    background-color: transparent;
}

.header__container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.menu-toggle {
    margin-right: auto;
}

.modal__button {
    @media screen and (max-width: 767px) {
        display: none;


    }
}

.header__container {
    @media screen and (max-width: 767px) {


        padding-left: 20px;
        padding-right: 20px;
        padding-top: 12px;
        padding-bottom: 16px;
        align-items: center;

    }

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;

        padding-top: 20px;
        padding-right: 32px;
        padding-left: 32px;
    }
}

.navigation {
    display: flex;
    @media screen and (max-width: 1199px) and (min-width: 768px) {
           margin-left: auto;
           margin-right: 32px;
           
        }
}

.site-nav {
    margin-left: auto;
    display: none;

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
    }
}

.site-nav__item {
    position: relative;

    margin-right: 50px;
    text-align: center;

    &:last-child {
        margin-right: 0;
    }
}

.site-nav__link {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    text-decoration: none;
    color: var(--text-color--bright);
    padding: 32px 0;

    &:hover,
    &:focus {
        color: var(--text-color--accent);
    }
}

// _______mobile menu

.menu-toggle {
    display: flex;
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;

    // @media (min-width: 767px) {
    //     margin-left: 410px;

    // }

    @media (min-width: 1199px) {
        display: none;

    }
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color--tablet-menu);
    z-index: 999;



    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    overflow-y: scroll;

    @media (min-width: 1199px) {
            display: none;
            }
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 20px;
    fill: var(--white);

    &:hover,
    &:active {
        fill: var(--accent);
    }

}

.menu-container__logo {
    position: absolute;
    top: 12px;
    left: 31px;

    @media (min-width: 767px) {
        top: 20px;
        left: 32px;

    }


    @media (min-width: 1199px) {
        display: none;

    }

}

.flex-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 75px;

}

.mobile-menu {
    padding: 0;
    margin: 0;
    margin-bottom: 111px;
    list-style: none;

    flex-grow: 1;
}

.mobile-menu__item {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.mobile-menu__link {
    display: block;
    color: var(--text-color--bright);
    text-decoration: none;
    text-align: center;

    font-weight: 700;
    font-size: 32px;
    line-height: 1.22;


    &:hover,
    &:active {
        color: black;
    }

    @media (min-width: 767px) {
        font-weight: 700;
        font-size: 48px;
        line-height: 1.23;

    }

    @media (min-width: 1199px) {
        display: none;

    }


}

// __________________button

// }

.mobile-menu__button {
    padding: 10px 32px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 768px) {
        display: none;

    }
}