.products {
  padding-top: 60px;
  padding-bottom: 60px;

  color: var(--text-color--dark);
  background-color: #f5f5f5;
  font-family: 'Montserrat', sans-serif;
  text-align: center;

  background-image: url('../images/products/bg-products.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.products__suptitle {
  @include font(18px, 800, 22px);
  text-transform: uppercase;
  margin-bottom: 12px;
}

.section__title {
  @include font(30px, 400, 38px);

  font-family: 'Seymour One', sans-serif;
  text-transform: uppercase;
  margin-bottom: 148px;
  letter-spacing: 0.04em;
}

.products__item {
  padding-top: 123px;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 16px;
  position: relative;
  max-width: 280px;

  background-color: #efd478;

  &:first-child {
    background-color: #aec6a5;
  }

  &:last-child {
    background-color: #d6936d;
  }
}

.products__title {
  @include font(20px, 700, 24px);
  text-transform: uppercase;
  margin-bottom: 40px;
  letter-spacing: 0.04em;
}

.products__item::before {
  content: '';
  background-image: url('../images/products/coffee-mob.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
  width: 201px;
  height: 211px;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(20%, -50%);
}

.products__item:first-child::before {
  background-image: url('../images/products/ice-cream-mob.png');
}

.products__item:last-child::before {
  background-image: url('../images/products/milkshake-mob.png');
}

.products__text {
  @include font(14px, 400, 25px);

  padding-left: 40px;
  padding-right: 40px;
  letter-spacing: 0.04em;
  margin-bottom: 90px;
}

.btn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.products__btn {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.arrow {
  fill: var(--text-color--dark);
  max-height: 20px;
  max-width: 55px;
  margin-bottom: 20px;
}

.arrow-default {
  display: inline;
}

.arrow-hover,
.arrow-focus {
  display: none;
}

.products__btn:hover {
  .arrow-default,
  .arrow-focus {
    display: none;
  }

  .arrow-hover {
    display: inline;
  }
}

.products__btn:focus {
  .arrow-default,
  .arrow-hover {
    display: none;
  }

  .arrow-focus {
    display: inline;
  }
}

// 0-767px

@media screen and (max-width: 767px) {
  .products__item:not(:last-child) {
    margin-bottom: 164px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .products__item::before {
    background-image: url('../images/products/coffee-mob@2x.png');
  }

  .products__item:first-child::before {
    background-image: url('../images/products/ice-cream-mob@2x.png');
  }

  .products__item:last-child::before {
    background-image: url('../images/products/milkshake-mob@2x.png');
  }
}

// 768-1199px
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products {
    padding-top: 61px;
    padding-bottom: 82px;
  }

  .products__text {
    padding-left: 26px;
    padding-right: 26px;
    margin-bottom: 83px;
  }
}

// 0-768px

@media screen and (min-width: 768px) {
  .products {
    background-image: url('../images/products/bg-products.svg');
  }

  .products__suptitle {
    @include font(22px, 800, 27px);
  }

  .section__title {
    @include font(34px, 400, 43px);
    margin-bottom: 200px;
  }

  .products__list {
    display: flex;
    gap: 16px;
  }

  .products__item {
    display: flex;
    flex-direction: column;
    padding-top: 107px;
    padding-left: 12px;
    padding-right: 12px;
    flex-basis: calc((100% - 32px) / 3);
    max-width: 224px;
  }

  .products__title {
    @include font(22px, 700, 27px);
    min-width: 160px;
  }

  .products__item::before {
    content: '';
    background-image: url('../images/products/coffee-tablet.png');
    width: 200px;
    height: 208px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
    transform: translate(6%, -50%);
  }

  .products__item:first-child::before {
    background-image: url('../images/products/ice-cream-tablet.png');
  }

  .products__item:last-child::before {
    background-image: url('../images/products/milkshake-tablet.png');
  }

  .products__text {
    flex-grow: 1;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .products__item::before {
    background-image: url('../images/products/coffee-tablet@2x.png');
  }

  .products__item:first-child::before {
    background-image: url('../images/products/ice-cream-tablet@2x.png');
  }

  .products__item:last-child::before {
    background-image: url('../images/products/milkshake-tablet@2x.png');
  }
}

// 1200px+

@media screen and (min-width: 1200px) {
  .products {
    background-image: url('../images/products/bg-products.svg');
    background-size: cover;
  }

  .products__suptitle {
    @include font(30px, 800, 37px);
  }

  .section__title {
    @include font(36px, 400, 45px);

    font-family: 'Seymour One', sans-serif;
    text-transform: uppercase;
    margin-bottom: 303px;
  }

  .products__list {
    gap: 32px;
  }

  .products__item::before {
    content: '';
    background-image: url('../images/products/coffee-desktop.png');
    width: 302px;
    height: 317px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
    top: 0px;
    left: 0px;
    transform: translate(10%, -50%);
  }

  .products__item {
    padding-top: 166px;
    flex-basis: calc((100% - 64px) / 3);
    padding-top: 166px;
    max-width: 370px;

    &:first-child::before {
      background-image: url('../images/products/ice-cream-desktop.png');
    }

    &:last-child::before {
      background-image: url('../images/products/milkshake-desktop.png');
    }
  }

  .products__title {
    margin-bottom: 65px;
    @include font(30px, 700, 37px);
    min-width: 218px;
  }

  .products__text {
    margin-bottom: 66px;
    padding-left: 69px;
    padding-right: 69px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .products__item::before {
    background-image: url('../images/products/coffee-desktop@2x.png');
  }

  .products__item:first-child::before {
    background-image: url('../images/products/ice-cream-desktop@2x.png');
  }

  .products__item:last-child::before {
    background-image: url('../images/products/milkshake-desktop@2x.png');
  }

  .products__btn {
    margin-bottom: 60px;
  }
}

// Ingredients modal

.backdrop {
  // display: none;
  padding: 100px 20px;
  margin-right: auto;
  margin-left: auto;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  background-color: rgba(0, 0, 0, 0.2);
}

.ingredients {
  position: relative;
  padding: 28px 20px 32px;
  z-index: 100;
  max-width: 450px;
  width: 100%;
  min-height: 609px;
  color: #131313;
  background-color: #f5f5f5;
  border: 2px solid var(--text-color--accent);
  border-radius: 10px;
}

.ingredients__btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.ingredients__title {
  @include font(20px, 400, 28px);
  font-family: 'Seymour One', sans-serif;
  text-align: center;
  margin-bottom: 185px;

  &::after {
    content: '';
    background-image: url('../images/products/ingredients-mob.png');
    width: 132px;
    height: 138px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(60%, 60%);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
  }
}

.ingredients__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  margin-bottom: 50px;
}

.ingredients__item {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 28px) / 4);
  max-width: 53px;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #9cbe8f;
  border-radius: 40px;
  text-align: center;
}

.ingredients__value {
  align-items: center;
  max-height: 43px;
  padding-top: 7px;
  padding-bottom: 8px;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #9cbe8f;
  border-radius: 50px;
  width: 43px;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);

  @include font(10px, 500, 28px);
  background-color: #9cbe8f;
}

.ingredients__text {
  @include font(10px, 400, 12px);
  padding-top: 8px;
  padding-bottom: 8px;
}

.ingredients__table {
  flex-basis: 50%;
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 0.04em;
}

.ingredients__table-caption {
  font-family: 'Montserrat', sans-serif;
  @include font(20px, 500, 28px);
}

.ingredients__table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
}

.ingredients__table-row {
  @include font(14px, 400, 25px);
  padding: 0;

  &:not(:last-child) {
    border-bottom: 11px solid transparent;
  }
}

.ingredients__table-value {
  text-align: right;
}

.ingredients-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.ingredients-form__label {
  margin-right: auto;
  margin-left: auto;
}

.ingredients-form__input {
  padding: 11px 16px;
  border: 1px solid var(--bg-color--olive);
  border-radius: 10px;
  width: 240px;
  background-color: rgba(248, 210, 78, 0.1);
}

.ingredients-form__comment {
  display: block;
  resize: none;
  width: 240px;
  height: 84px;
}

.ingredients__btn {
  display: block;
  margin: 0 auto;
  min-width: 132px;
  margin-top: 32px;
}

@media screen and (min-width: 400px) and (max-width: 767px) {
  .ingredients {
    margin: auto;
  }

  .ingredients__title::after {
    transform: translate(125%, 60%);
  }
}

@media screen and (min-width: 768px) {
  .ingredients {
    padding: 32px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    max-width: 568px;
    width: 100%;
    max-height: 995px;
  }

  .ingredients__title {
    margin-bottom: 187px;
  }

  .ingredients__title::after {
    transform: translate(200%, 60%);
  }

  .ingredients__list {
    margin-bottom: 48px;
  }

  .ingredients__item {
    max-width: 65px;
    max-height: 90px;
  }

  .ingredients__value {
    padding-top: 12px;
    padding-bottom: 13px;
    @include font(12px, 500, 28px);
    width: 53px;
    max-height: 53px;
  }

  .ingredients__text {
    @include font(12px, 400, 15px);
    padding-bottom: 14px;
  }

  .ingredients__table-caption {
    margin-bottom: 24px;
  }

  .ingredients-form {
    padding-left: 60px;
    padding-right: 60px;
  }

  .ingredients-form__input {
    width: 368px;
  }

  .ingredients__btn {
    min-width: 121px;
  }
}
