.products {
  padding-top: 60px;
  padding-bottom: 60px;

  color: var(--text-color--dark);
  background-color: #f5f5f5;
  font-family: 'Montserrat', sans-serif;
  text-align: center;

  background-image: url('../images/products/bg-products.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.products__suptitle {
  @include font(18px, 800, 22px);
  text-transform: uppercase;
  margin-bottom: 12px;
}

.section__title {
  @include font(30px, 400, 38px);

  font-family: 'Seymour One', sans-serif;
  text-transform: uppercase;
  margin-bottom: 148px;
  letter-spacing: 0.04em;
}

.products__item {
  padding-top: 123px;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 16px;
  position: relative;
  max-width: 280px;

  background-color: #efd478;
}

.products__item:first-child {
  background-color: #aec6a5;
}

.products__item:last-child {
  background-color: #d6936d;
}

.products__title {
  @include font(20px, 700, 24px);
  text-transform: uppercase;
  margin-bottom: 40px;
  letter-spacing: 0.04em;
}

.products__item::before {
  content: '';
  background-image: url('../images/products/coffee-mob.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
  width: 201px;
  height: 211px;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(20%, -50%);
}

.products__item:first-child::before {
  background-image: url('../images/products/ice-cream-mob.png');
}

.products__item:last-child::before {
  background-image: url('../images/products/milkshake-mob.png');
}

.products__text {
  @include font(14px, 400, 25px);

  padding-left: 40px;
  padding-right: 40px;
  letter-spacing: 0.04em;
  margin-bottom: 90px;
}

.products__btn {
  background-color: transparent;
  border: none;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.arrow {
  fill: var(--text-color--dark);
  max-height: 20px;
  max-width: 55px;
  cursor: pointer;
  margin-bottom: 20px;
}

.arrow-default {
  display: inline;
}

.arrow-hover,
.arrow-focus {
  display: none;
}

.products__btn:hover {
  .arrow-default,
  .arrow-focus {
    display: none;
  }
  .arrow-hover {
    display: inline;
  }
}

.products__btn:focus {
  .arrow-default,
  .arrow-hover {
    display: none;
  }

  .arrow-focus {
    display: inline;
  }
}

// 0-767px

@media screen and (max-width: 767px) {
  .products__item:not(:last-child) {
    margin-bottom: 164px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .products__item::before {
    background-image: url('../images/products/coffee-mob@2x.png');
  }

  .products__item:first-child::before {
    background-image: url('../images/products/ice-cream-mob@2x.png');
  }

  .products__item:last-child::before {
    background-image: url('../images/products/milkshake-mob@2x.png');
  }
}

// 768-1199px
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products {
    padding-top: 61px;
    padding-bottom: 82px;
  }

  .products__text {
    padding-left: 26px;
    padding-right: 26px;
    margin-bottom: 83px;
  }
}

// 0-768px

@media screen and (min-width: 768px) {
  .products {
    background-image: url('../images/products/bg-products.svg');
  }

  .section__title {
    @include font(34px, 400, 43px);
    margin-bottom: 200px;
  }

  .products__list {
    display: flex;

    gap: 16px;
  }

  .products__item {
    padding-top: 106px;
    padding-left: 12px;
    padding-right: 12px;
    flex-basis: calc((100% - 32px) / 3);
    max-width: 224px;
  }

  .products__title {
    @include font(22px, 700, 27px);
    min-width: 160px;
  }

  .products__item::before {
    content: '';
    background-image: url('../images/products/coffee-tablet.png');
    width: 200px;
    height: 208px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
    transform: translate(6%, -50%);
  }

  .products__item:first-child::before {
    background-image: url('../images/products/ice-cream-tablet.png');
  }

  .products__item:last-child::before {
    background-image: url('../images/products/milkshake-tablet.png');
  }

  .products__suptitle {
    @include font(22px, 800, 27px);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .products__item::before {
    background-image: url('../images/products/coffee-tablet@2x.png');
  }

  .products__item:first-child::before {
    background-image: url('../images/products/ice-cream-tablet@2x.png');
  }

  .products__item:last-child::before {
    background-image: url('../images/products/milkshake-tablet@2x.png');
  }
}

// 1200px+

@media screen and (min-width: 1200px) {
  .products {
    background-image: url('../images/products/bg-products.svg');
    background-size: cover;
  }

  .products__suptitle {
    @include font(30px, 800, 37px);
  }

  .section__title {
    @include font(36px, 400, 45px);

    font-family: 'Seymour One', sans-serif;
    text-transform: uppercase;
    margin-bottom: 303px;
  }

  .products__list {
    gap: 32px;
  }

  .products__title {
    margin-bottom: 65px;
    @include font(30px, 700, 37px);
    min-width: 218px;
  }

  .products__item {
    padding-top: 166px;
    flex-basis: calc((100% - 64px) / 3);
    padding-top: 166px;
    max-width: 370px;
  }

  .products__text {
    margin-bottom: 90px;
    padding-left: 69px;
    padding-right: 69px;
  }

  .products__item::before {
    content: '';
    background-image: url('../images/products/coffee-desktop.png');
    width: 302px;
    height: 317px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
    top: 0px;
    left: 0px;
    transform: translate(10%, -50%);
  }

  .products__item:first-child::before {
    background-image: url('../images/products/ice-cream-desktop.png');
  }

  .products__item:last-child::before {
    background-image: url('../images/products/milkshake-desktop.png');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .products__item::before {
    background-image: url('../images/products/coffee-desktop@2x.png');
  }

  .products__item:first-child::before {
    background-image: url('../images/products/ice-cream-desktop@2x.png');
  }

  .products__item:last-child::before {
    background-image: url('../images/products/milkshake-desktop@2x.png');
  }

  .products__btn {
    margin-bottom: 60px;
  }
}
