.reviews-section {
  padding-top: 75px;

  @media screen and (min-width: 768px) {
    padding-top: 55px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 123px;
  }
}

.testimonials-text {
  background-color: var(--bg-color--olive);
  border-radius: 10px;
  max-width: 280px;
  max-height: 256px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    max-width: 705px;
    max-height: 138px;
    border-radius: 24px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 968px;
    max-height: 138px;
  }
}

.testimonials-text-styled {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 2.55;
  padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 39px;
  padding-right: 39px;
  color: var(--white);

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8;
    padding-top: 29px;
    padding-bottom: 80px;
    padding-left: 29px;
    padding-right: 80px;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.85;
    padding-top: 39px;
    padding-bottom: 47px;
    padding-left: 109px;
    padding-right: 109px;
  }
}

.testimonials-text-author {
  text-align: center;
  color: var(--text-color--dark);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;
  margin-top: 30px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.testimonials__images {
  margin-left: auto;
  margin-right: auto;
  width: 85px;

  margin-bottom: 30px;

  border-radius: 44px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-carousel .active span {
  background: var(--bg-color--olive) !important;
}
